body {
    font-family: Arial, Helvetica, sans-serif
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    height: 500px;
    margin-right: 30px;
}
.link{
    color: #007185;
}
.amzn{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    width: 960px;
    
}
.directory{
    color: #565959;
    text-align: left;
    font-size: small;
}
.bold{
    font-weight: bold;
}
.rating{
    width: 120px;
}